body 
{
    padding-top: 45px;
}

footer 
{
  color: black;
  background-color: rgb(234,125,17);
  height: 55px;
}

.text-footer
{
  text-align: center;
  padding-top: 5px;
}

.navbar
{
  background-color: rgb(234,125,17);
  border-color: rgb(234,125,17);
}

.navbar a 
{
  color: white !important;
}

.thumbnailPost
{
  width: 100%;
}

.business-header 
{
  height: 400px;
  background: url(../img/banner.jpg) center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.tagline 
{
  text-shadow: 0 0 15px white;
  color: rgb(215,92,11);
}

.zeroPost
{
  margin-top: 25px;
}

/*Accueil*/

.col-md-8
{
    background-color: rgb(234,125,17);
    color: white;
}

.well
{
  background-color: rgb(69,82,233);
  color: white;
}

.lastEpisode a
{
  color: white;
}

.lastEpisode .btn-primary 
{
  color: white;
}

.tagline-home
{
  text-align: center;
  padding-top: 155px;
}


/*Chapitres*/


.episodesPage 
{
  width: 75%;
  margin: auto;
  min-height: 750px;
}


.header-episodes
{
  height: 160px;
  background: url(../img/landscape.jpg) center center no-repeat scroll;
}


.tagline-episodes
{
  margin-top: 75px;
}


.listepisodes{
  padding-top: 35px;
}


/*Single*/

.container-single{
  padding-top: 35px;
  min-height: 1100px;
}
.Sectioncommentaires{
  width: 85%;
}

.formComment{
  width: 65%;
  margin: auto;
  height: 75%;
}

.img-center {
  margin: 0 auto;
}

.lastEpisode {
  width: 80%;
  margin: auto;
}

.formulaire .glyphicon-share-alt 
{
  color: rgb(69,82,233);
}

.formulaire .glyphicon-warning-sign 
{
  color: rgb(209, 68, 23);
}
/*Administration*/

.admin 
{
  padding: 35px;
  height: 500px;
  width: 450px;
  margin: 150px auto;
}

.dashboard, .account
{
  padding-top: 35px;
  min-height: 800px;
}

.gestionPanel
{
  margin-top: 35px;
}

.about 
{
  margin-top: 25px;
}

.update
{
  padding: 35px;
}

.admin-titre
{
  display: flex;
}

.comment_form
{
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: red;
}

.gestionPanel .panel-heading 
{
  background-color: rgb(37,137,39) !important;
  color: white !important;
}

.btn-warning
{
    background-color: rgb(37,137,39) !important;
}

.singleContent 
{
  width: 90%;
  margin: auto;
  padding-top: 15px;
}

.admin .hello 
{
  padding-bottom: 10px;
  text-align: center;
}

.admin .btn-success 
{
  background-color: rgb(104, 1, 72) !important;
  border: none !important;
}

.row-account 
{
  padding-top: 35px !important.
}

.noDisplay{
  display: none;
}

#badComments {
margin-top: 35px;
}

#badComments .panel-heading {
  background-color: rgb(37,137,39) !important;
  color: white !important;
}